* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}
.container {
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media(min-width:768px){
.container{
	width: 90%;
	padding-left: 15px;
	padding-right: 15px;
}
}
@media(min-width:1024px){
	.container{
		width: 87%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
/*header start */
.header {
	background-color: #213b52;
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
.headerflex {
	display: flex;
	justify-content: space-between;
	
}
.navbar li {
	display: none;
}
.navbar .btn {
	display: none;
}
.headerlogo h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 24px;
	letter-spacing: 1px;
}
.headerlogo a {
	text-decoration: none;
}
.navbar a {
	text-decoration: none;
}
.mobilebtn {
	font-size: 25px;
	line-height: 28px;

}
.mobilebtn i {
	color: #eda543;
	z-index: 979;
}
.headerlogo span {
	color: #eda543;
}

@media (min-width:768px) {

}
@media (min-width:1024px) {
	.navbar ul {
		 display: flex;
	}
	.navbar li {
		padding: 5px 15px;
		color: #9ca5ab;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		display: block;
		color: #fff;
	}
    .navbar a{
		color: #9ca5ab;
	}
	.navbar button {
		border-radius: 50px;
		padding: 5px 20px;
		background-color: #213b52;
		color: #fff;
		border: 2px solid #ffc433;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		cursor: pointer;
		display: block;
	}
	.navbar .btn {
		padding-left: 15px;
		display: block;
	}
	.navbar span {
		color:  #9ca5ab;
	}
	.navbar a:hover  {
		color: #fff;
	}
	.navbar .btn:hover button {
		background-color: #fdc134;
		color: rgba(0, 0, 0, 0.9);
	}
	.mobilebtn {
		display: none;

	}
}
/*header end */
/* banner start */

.banner {
	background-color: #213b52;
	height: auto;
	text-align: center;	
}
.bannerflex {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column-reverse;
}
.bannertext {
	width: 100%;
	padding-bottom: 30px;
}
.bannerimage {
	width: 100%;
}
.bannerimage img {
	width: 100%;
	height: auto;
    display: block;
}
.bannertext h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #d2e0ed;
	font-size: 34px;
	padding-bottom: 20px;
	line-height: 32px;

}
.bannertext p {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
}
.bannertext a{
	border-radius: 50px;
	padding: 8px 25px;
	background-color: #fdc134;
	color: #7c5c48;
	border: 2px solid #ffc433;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}
.bannertext a {
	text-decoration: none;
}

.bannertext a:hover  {
	background-color: #213b52;
	color: #fff;
}

@media (min-width:768px) {
	.bannertext {
		width: 100%;
		text-align: center;
	}
	.bannerimage {
		width: 100%;
		display: block;
		text-align: center;
	}
	.bannerimage img {
		width: 100%;
		height: auto;
	    align-items: center;
	}
	.bannertext h1 {
		font-family: "Poppins", sans-serif;
		font-weight: 700;
		color: #d2e0ed;
		font-size: 35px;
		padding-bottom: 20px;
		line-height: 50px;
	}
	.bannertext p {
		font-family: "Raleway", sans-serif;
		font-weight: 400;
		padding-bottom: 20px;
		color: #fff;
		font-size: 20px;
		line-height: 25px;
	}
}
@media (min-width:1024px) {	
	.bannerflex {
		display: flex;
		justify-content: space-around;
		flex-direction: inherit;
	}
	.bannertext {
		width: 50%;
		padding-top: 20%;
	 text-align: start;
	}
	.bannerimage {
		width: 50%;
	}
	.bannerimage img {
		width: 100%;
		height: auto;
	}
	.bannertext h1 {
		font-family: "Poppins", sans-serif;
		font-weight: 700;
		color: #d2e0ed;
		font-size: 45px;
		padding-bottom: 20px;
	}	
}
/* banner end */
/* client starts */

.client {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}
.clientflex {
	width: 100%
}
.clientimg {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.clientimage {
	width: 40%;
}
.clientimage img {
	width: 100%;
	height: 100%;
	padding: 20px;
	transition: .3s;
}
.clientimage img:hover {
	transform: scale(1.2);
	transition: 0.5s all ease;
}
@media (min-width:768px) {
	.clientimage {
		width: 33.3%;
	}
	.clientimage img {
		width: 100%;
		height: auto;
		padding: 40px;
	}
	.clientimage img:hover {
		transform: scale(1.2);
		transition: 0.5s all ease;
	}
}
@media (min-width:1024px) {
	.clientflex {
		display: flex;
		width: 100%;
	}
	.clientimage {
		width: 16%;
		display: flex;
		justify-content: space-around;

	}
	.clientimage img {
		width: 100%;
		height: auto;
		padding:40px;
	}
	.clientimage img:hover {
		transform: scale(1.2);
		transition: 0.5s all ease;
	}
}
/*client end */
/*about starts */
.about {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-top: 30px;
	padding-bottom: 30px;
}
.aboutimage {
	width: 100%;
}
.aboutimage img {
	width: 100%;
	height: 100%;
}
.abouttext {
	width: 100%;
	padding-top: 10px;
}
.abouttext h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	margin-bottom: 15px;
	color: #214061;
	font-size: 32px;
}
.abouttext p {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 35px;
	color: #8b768d;
	font-size: 16px;
	line-height: 20px;
	
}
.aboutbox p{
	font-family: "Open Sans", sans-serif;
	margin-bottom: 11px;
	flex-wrap: wrap;
	color: #8b768d;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 15px;
}
.aboutbox {
	width: 100%;
}
.abouticon {
	width: 100%;
	margin-bottom: 20px;
}
.abouttext h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 16px;
	margin-left: 50px;
}
.abouticon i {
	font-family: sans-serif;
	color: #fdc134;
	font-size: 40px;
	float: left;
}
.aboutbox h3:hover {
	color: #fdc134;
}
@media (min-width:768px) {
	.aboutimage {
		width: 100%;
	}
	.aboutimage img {
		width: 100%;
		height: 100%;
	}
    .aboutbox{
		display: flex;
		flex-wrap: wrap;
	}
	.abouttext {
		width: 100%;
	}
	.abouticon {
		width: 50%;
	}
}
@media (min-width:1024px) {
}
@media (min-width:1100px){
	.aboutflex {
		display: flex;
		justify-content: space-around;
	}
	.aboutimage img {
		width: 90%;
		height: 100%;
	}
}
/*about end */
/*service start */
.service {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}
.serviceheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.serviceheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;

}
.servicehrline {
	border-bottom: 3px solid #fdbf2b;
	width: 40px;
	position: absolute;
	right: 44%;
	top: 47.5%;
}
.serviceheading hr {
	width: 120px;
	color: #ebedef;
	display: inline-block;
	justify-content: center;
	text-align: center;
}
.serviceheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	padding-top: 10px;
	line-height: 18px;
	padding-bottom: 20px;
}
.serviceflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 3%;
}
.servicebox {
	width: 100%;
}
.serviceimage {
	width: 100%;
	overflow: hidden;
	position: relative;
	top: 0;
}
.serviceimage img {
	width: 100%;
	height: 100%;
}
.servicecontent {
	width: 80%;
	position: relative;
	top: -10%;
	margin: 0px auto;
	background-color: #fff;
	border-top: 4px solid #fff;
	padding: 30px;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	z-index: 10;
}
.servicecontent:hover {
	border-top: 4px solid #fcd134;
}
.servicecontent h3 {
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
	color: #213b52;
	font-size: 18px;
	cursor: pointer;

}
.servicecontent p {
	color: #5e5e5e;
	margin-bottom: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 22px;
}
.servicecontent h4 {
	display: inline;
	color: #777777;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	cursor: pointer;
}
.servicecontent i {
	color: #777777;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
}
.servicebox1:hover h3 {
	color: #fdc134;
}
.serviceimage:hover img {
	transform: scale(1.1);
	transition: 0.5s all ease-in-out;
}
.servicecontent h4:hover {
	color: #fdc134;
}
@media (min-width:768px) {
	.servicehrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		right: 46%;
		top: 52%;
	}
	.serviceheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
	.servicebox {
		width: 48%;
		display: flex;
		flex-wrap: wrap;
        padding: 20px;
	}
	.serviceimage {
		display: flex;
		text-align: center;
		justify-content: center;
		overflow: hidden;
	}
	.serviceimage img {
		width: 100%;
	    height: 100%;
	    overflow: hidden;
	}
}

@media (min-width:1024px) {
	.servicehrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		right: 48%;
		top: 57.6%;
	}
	.serviceheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
}
/*service end */
/*feature start */
.feature {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom: 30px;
}
.featureheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.featureheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;
}
.featurehrline {
	border-bottom: 3px solid #fdbf2b;
	width: 40px;
	position: absolute;
	right: 44%;
	top: 48%;
}
.featureheading hr {
	width: 120px;
	color: #ebedef;
	display: inline-block;
	justify-content: center;
	text-align: center;
}
.featureheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	line-height: 18px;
}
.featurebox1 {
	width: 100%;
	padding-top: 25px;
}
.featureimage1 {
	width: 100%;
}
.featureimage1 img {
	width: 100%;
	height: auto;
}
.featuretext1 {
	width: 100%;
	padding-top: 35px;
}
.featuretext1 h3 {
	font-family: sans-serif;
	font-weight: 600;
	color: #214061;
	font-size: 26px;
	padding-bottom: 15px;
	line-height: 28px;
}
.featuretext1 h4 {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 18px;
}
.featuretext1 p {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 18px;
}
.featuretext1 i {
	color: #fdc134;
	font-family: sans-serif;
	font-size: 13px;
	padding-left: 2px;
}
.featurebox2 {
	width: 100%;
	padding-top: 15px;
}
.featuretext2 {
	width: 100%;
}
.featureimage2 {
	width: 100%;
}
.featureimage2 img {
	width: 100%;
	height: auto;
}
.featuretext2 {
	padding-top: 15px;
}
.featuretext2 h3 {
	font-family: sans-serif;
	font-weight: 600;
	color: #214061;
	font-size: 26px;
	padding-bottom: 15px;
	line-height: 28px;
}
.featuretext2 h4 {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 18px;
}
.featuretext2 p {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	line-height: 18px;
}
.featurebox3 {
	width: 100%;
	padding-top: 15px;
}
.featureimage3 {
	width: 100%;
	padding-top: 25px;
}
.featureimage3 img {
	width: 100%;
	height: auto;
}
.featuretext3 {
	padding-top: 15px;
}
.featuretext3 h3 {
	font-family: sans-serif;
	font-weight: 600;
	color: #214061;
	font-size: 26px;
	padding-bottom: 15px;
	line-height: 28px;
}
.featuretext3 h4 {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 18px;
}
.featuretext3 p {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 18px;
}
.featuretext3 i {
	color: #fdc134;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 2px;
}
.featurebox4 {

	width: 100%;
	padding-top: 15px;
}
.featureimage4 {
	width: 100%;
}
.featuretext4 {
	width: 100%;
}
.featureimage4 img {
	width: 100%;
	height: auto;
}
.featuretext4 {
	padding-top: 15px;
}
.featuretext4 h3 {
	font-family: sans-serif;
	font-weight: 600;
	color: #214061;
	font-size: 24px;
	padding-bottom: 15px;
	line-height: 28px;
}
.featuretext4 h4 {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 18px;
}
.featuretext4 p {
	color: #5a5959;
	font-family: sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 18px;
}
@media (min-width:768px) {
	.featurehrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 58%;
		right: 46%;
		text-align: center;
	}
	.featureheading hr {
		width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
	.featureflex {
		display: flex;
		flex-wrap: wrap;
	}
	.featurebox1 {
		display: flex;
		width: 100%;
	}
	.featuretext1 {
		width: 50%;
	}
	.featureimage1 {
		width: 50%;
	}
	.featureimage1 img {
		width: 100%;
		height: auto;
	}
	.featurebox2 {
		display: flex;
		width: 100%;
	}
	.featuretext2 {
		width: 50%;
	}
	.featureimage2 {
		width: 50%;
	}
	.featureimage2 img {
		width: 100%;
		height: auto;
	}
	.featurebox3 {
		display: flex;
		width: 100%;
	}
	.featureimage3 {
		width: 50%;
	}
	.featureimage3 img {
		width: 100%;
		height: auto;
	}
	.featurebox4 {
		display: flex;
		width: 100%;
	}
	.featureimage4 {
		width: 50%;
	}
	.featuretext4 {
		width: 50%;
	}
	.featureimage4 img {
		width: 100%;
		height: auto;
	}
}

@media (min-width:1024px) {
	.featurehrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 65.6%;
		right: 47%;
		text-align: center;
	}
	.featureheading hr {
		width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
}
@media (min-width:1100px) {
	.featurehrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 65.6%;
		right: 48%;
		text-align: center;
	}
	.featureheading hr {
		width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
}

/*feature end */
/*portfolio start */
.portfolio {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom: 70px;
}
.portfolioheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.portfolioheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;
}
.portfoliohrline {
	    border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 41.6%;
		right: 45%;
		text-align: center;
}
.portfolioheading hr {
	    width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
}
.portfolioheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	line-height: 18px;
	padding-bottom: 15px;
}
.portfoliobutton button {
	padding: 0px 15px;
	font-family: sans-serif;
	font-size: 15px;
	background-color: #f2f6fa;
	border: none;
	cursor: pointer;
}
.portfoliobutton span {
	color: #fdbf2b;
}
.portfoliobutton button:hover {
	color: #fdbf2b;
}
.portfolio-list {
	margin-top: 40px;
}
.portfolio-list .portfoliobox {
	width: 100%;
	height: 270px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.portfoliocont {
	position: relative;
	overflow: hidden;
}
.portfoliocont img {
	width: 100%;
	height: 270px;
	transition: all 0.5s ease;
	border-radius: 7px;
}
.portfoliotext {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 59, 82, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: translateX(500px);
	transition: all 0.5s ease-in-out;
}
.portfolioinfo {
	position: absolute;
	top: 30%;
	opacity: 0;
	transform: translateY(-30px);
	transition: all 0.5s ease;
}
.portfoliobox:hover .portfoliotext {
	opacity: 1;
	transform: translateX(0px);
	transition: all 0.5s ease-in-out;
	border-radius: 7px;
}
.portfoliobox:hover .portfolioinfo {

	transform: translateY(0px);
	transition: all 0.5s ease;
	opacity: 1;
}
.portfoliobox:hover .portfolioinfo {
	opacity: 1;
}
.portfolioinfo h5 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding-top: 80%;
	padding-bottom: 5px;
	font-family: "Raleway", sans-serif;
}
.portfolioinfo h6 {
	color: #fff;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	text-align: center;

}
.portfolioicon {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}
.portfolioicon a {
	display: block;
	width: 30px;
	height: 30px;
	font-size: 22px;
	color: #fdc134;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	margin: 0 5px;
}
.portfolioicon a:hover {
	color: #fff;
}
@media (min-width:768px) {
	.portfoliohrline {
	    border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 49%;
		right: 47%;
		text-align: center;
   }
   .portfolioheading hr {
	    width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
   }
	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;

	}
	.portfolio-list .portfoliobox {
		width: 50%;
		height: 270px;
		padding-right: 20px;
		box-sizing: border-box;
		margin-bottom: 20px;
	}
}
@media (min-width:1024px) {
    .portfoliohrline {
	    border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 54%;
		right: 48%;
		text-align: center;
   }
   .portfolioheading hr {
	    width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
   }
	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	.portfolio-list .portfoliobox {
		width: 33.33%;
		height: 270px;
		padding-right: 20px;
		box-sizing: border-box;
		margin-bottom: 20px;
	}
}
@media (min-width:1100px) {
 .portfoliohrline {
	    border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 54%;
		right: 48%;
		text-align: center;
   }
   .portfolioheading hr {
	    width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
   }
}
/*portfolio end */
/* team start */
.team {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom: 30px;
}
.teamheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.teamheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;
}
.teamhrline {
	 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 45%;
		right: 45%;
		text-align: center;
}
.teamheading hr {
	width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
}
.teamheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	line-height: 18px;
	padding-bottom: 15px;
}
.teambox {
	width: 100%;
	padding-top: 20px;
	text-align: center;
}
.teambox img {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.teambox h3 {
	font-family: sans-serif;
	font-weight: 700;
	color: #3f3d42;
	font-size: 16px;
	padding-bottom: 6px;
}
.teambox h4 {
	font-family: sans-serif;
	font-weight: 600;
	color: #4d5c67;
	font-size: 10px;
	padding-bottom: 20px;
}
.teamicon i {
	font-family: sans-serif;
	color: #5289ba;
	font-size: 18px;
	margin: 0 2px;
	cursor: pointer;
}
.teamicon i:hover {
	color: #fdc134;
}
@media (min-width:768px) {
	.teamhrline {
	 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 53.3%;
		right: 47%;
		text-align: center;
 }
  .teamheading hr {
	width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
 }
	.teamheading p {
		color: #5a5959;
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		padding-top: 10px;
		line-height: 18px;
		padding-bottom: 15px;
	}
	.teamimage {
		display: flex;
		flex-wrap: wrap;
	}
	.teambox {
		width: 50%;
		padding-left: 20px;
		padding-top: 20px;
		text-align: center;
	}
}
@media (min-width:1024px) {
    .teamhrline {
	 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.3%;
		right: 47%;
		text-align: center;
    }
  .teamheading hr {
	width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
    }
	.teamflex {
		display: flex;
		width: 100%;
	}
	.teambox {
		width: 25%;
		padding-left: 20px;
		padding-top: 20px;
		text-align: center;
	}
}
@media (min-width:1100px) {
	  .teamhrline {
	 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.3%;
		right: 48%;
		text-align: center;
    }
  .teamheading hr {
	width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
    }
}

/*team end */
/*pricing start */

.pricing {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom: 30px;
}
.pricingheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.pricingheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;
}
.pricinghrline {
	 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 45%;
		right: 45%;
		text-align: center;
}
.pricingheading hr {
		width:120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
}
.pricingheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	line-height: 18px;
	padding-bottom: 15px;
}
.pricingflex {
	width: 100%;
	padding-top: 20px;
}
.pricingbox {
	width: 100%;
	background-color: #fff;
	height: 400px;
	margin-bottom: 30px;
	box-shadow: 2px 2px 2px 2px #eceff3;
}
.pricingbox1 {
	text-align: center;
}
.pricingbox1 h2 {
	color: #717071;
	font-family: sans-serif;
	font-size: 28px;
	padding-top: 30px;
	padding-bottom: 15px;
}
.pricingbox1 h3 {
	color: #fdbf2d;
	font-family: sans-serif;
	font-size: 46px;
	padding-bottom: 10px;
}
.pricingbox1 p {
	color: #c6c3be;
	font-family: sans-serif;
	font-size: 18px;
	padding-right: 50px;
}
.pricingbox p {
	color: #acacbb;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 50px;
	padding-bottom: 15px;
}
.prihrline p {

	color: #acacbb;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 50px;
	padding-bottom: 15px;
}
.pricebtn {
	text-align: center;
	padding-top: 10px;
}
.pricebtn button {
	background-color: #213b52;
	color: #fff;
	border-radius: 50px;
	padding: 6px 30px;
	border: none;
	cursor: pointer;
}
.pricingbox3 {
	margin-top: 30px;
	text-align: center;
}
.pricingbox3 h2 {
	color: #717071;
	font-family: sans-serif;
	font-size: 28px;
	padding-top: 30px;
	padding-bottom: 15px;
}
.pricingbox3 h3 {
	color: #fdbf2d;
	font-family: sans-serif;
	font-size: 46px;
	padding-bottom: 10px;
}
.pricingbox3 p {
	color: #c6c3be;
	font-family: sans-serif;
	font-size: 18px;
	padding-right: 50px;
}
.pricingbox i {
	color: #fdbf2d;
	font-size: 13px;
}
.prihrline i {
	color: #cbc9c9;
	font-size: 13px;
}
.pricingbox2 {
	width: 100%;
	background-color: #fff;
	border: 1px solid #fdc134;
	position: relative;
	height: 460px;
	box-shadow: 2px 2px 2px 2px #eceff3;
}
.pricebox2 {
	text-align: center;
}
.pricebox2 h2 {
	color: #717071;
	font-family: sans-serif;
	font-size: 28px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.pricebox2 h3 {
	color: #fdbf2d;
	font-family: sans-serif;
	font-size: 46px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.pricebox2 p {
	color: #c6c3be;
	font-family: sans-serif;
	font-size: 18px;
	padding-right: 50px;
}
.pricingbox2 i {
	color: #fdbf2d;
	font-size: 13px;
}
.pricingbox2 p {
	color: #acacbb;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 50px;
	padding-bottom: 15px;
}
.pricebutton2 {
	text-align: center;
	padding-bottom: 15px;
}
.pricebtn2 {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 50px;
}
.pricebtn2 button {
	background-color: #fdc134;
	color: #fff;
	border-radius: 50px;
	padding: 6px 30px;
	border: none;
	cursor: pointer;
}
.pricebutton2 button {
	background-color: #fdc134;
	color: #fff;
	border-radius: 50px;
	font-size: 8px;
	padding: 2px 8px;
	border: none;
	position: absolute;
	top: -2%;
	left: 42%;
}
@media (min-width:768px) {
	.pricinghrline {
		 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 53.5%;
		right: 47%;
		text-align: center;
	}
	.pricingheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
	.pricingflex {
		width: 100%;
		padding-top: 20px;
	}
	.pricingbox {
		width: 50%;
		background-color: #fff;
		height: 400px;
		margin-bottom: 30px;
		box-shadow: 2px 2px 2px 2px #eceff3;
		margin-left: 25%;
	}
	.pricingbox2 {
		width: 50%;
		background-color: #fff;
		border: 1px solid #fdc134;
		position: relative;
		height: 460px;
		box-shadow: 2px 2px 2px 2px #eceff3;
		margin-left: 25%;
	}
	.pricebox2 {
		text-align: center;
	}
}

@media (min-width:1024px) {
	.pricinghrline {
		 border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.6%;
		right: 47%;
		text-align: center;
	}
	.pricingheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
	.pricingflex {
		display: flex;
		width: 100%;
		padding-top: 20px;
	}
	.pricingbox {
		width: 33.33%;
		background-color: #fff;
		height: 400px;
		margin-top: 30px;
		box-shadow: 2px 2px 2px 2px #eceff3;
		margin-left: 0%;
		text-align: center;
	}
	.pricingbox1 {
		text-align: center;
	}
	.pricingbox1 h2 {
		color: #717071;
		font-family: sans-serif;
		font-size: 28px;
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.pricingbox1 h3 {
		color: #fdbf2d;
		font-family: sans-serif;
		font-size: 46px;
		padding-bottom: 10px;
	}
	.pricingbox1 p {
		color: #c6c3be;
		font-family: sans-serif;
		font-size: 18px;
		padding-right: 0px;
	}
	.pricingbox p {
		color: #acacbb;
		font-family: sans-serif;
		font-size: 16px;
		padding-left: 0px;
		padding-bottom: 15px;
	}
	.prihrline p {

		color: #acacbb;
		font-family: sans-serif;
		font-size: 16px;
		padding-left: 0px;
		padding-bottom: 15px;
	}
	.pricebtn {
		text-align: center;
		padding-top: 10px;
	}
	.pricebtn button {
		background-color: #213b52;
		color: #fff;
		border-radius: 50px;
		padding: 6px 30px;
		border: none;
		cursor: pointer;
	}
	.pricingbox3 {
		text-align: center;
	}
	.pricingbox3 h2 {
		color: #717071;
		font-family: sans-serif;
		font-size: 28px;
		padding-top: 0px;
		padding-bottom: 15px;
	}

	.pricingbox3 h3 {
		color: #fdbf2d;
		font-family: sans-serif;
		font-size: 46px;
		padding-bottom: 10px;
	}
	.pricingbox3 p {
		color: #c6c3be;
		font-family: sans-serif;
		font-size: 18px;
		padding-right: 0px;
	}
	.pricingbox i {
		color: #fdbf2d;
		font-size: 13px;
	}
	.prihrline i {
		color: #cbc9c9;
		font-size: 13px;
	}
	.pricingbox2 {
		width: 33.3%;
		background-color: #fff;
		border: 1px solid #fdc134;
		position: relative;
		height: 460px;
		box-shadow: 2px 2px 2px 2px #eceff3;
		margin-left: 0%;
		text-align: center;
	}
	.pricebox2 {
		text-align: center;
		padding-left: 0px;
	}
	.pricebox2 h2 {
		color: #717071;
		font-family: sans-serif;
		font-size: 28px;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.pricebox2 h3 {
		color: #fdbf2d;
		font-family: sans-serif;
		font-size: 46px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.pricebox2 p {
		color: #c6c3be;
		font-family: sans-serif;
		font-size: 18px;
		padding-right: 0px;
	}
	.pricingbox2 i {
		color: #fdbf2d;
		font-size: 13px;
	}
	.pricingbox2 p {
		color: #acacbb;
		font-family: sans-serif;
		font-size: 16px;
		padding-left: 0px;
		padding-bottom: 15px;
	}
	.pricebutton2 {
		text-align: center;
		padding-bottom: 15px;
	}
}
@media (min-width:1100px) {
	.pricinghrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.6%;
		right: 48%;
		text-align: center;
	}
    .pricingheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}

}
/*price end */
/*frequently start */
.frequently {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom: 30px;
}
.frequentheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.frequentheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;
}
.frequenthrline {
	border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 51%;
		right: 45%;
		text-align: center;
}
.frequentheading hr {
	width: 120px;
	color: #ebedef;
	display: inline-block;
		justify-content: center;
		text-align: center;
}
.frequentheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	line-height: 18px;
	padding-bottom: 15px;
}
.frequentlyflex {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}
.frequentquestion {
	width: 100%;
}
.frequentanswer {
	width: 100%;
}
.frequentquestion h3 {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	margin: 0 0 10px 28px;
	font-family: "Poppins", sans-serif;
	color: #444444;
}
.frequentanswer h4 {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #444444;
	line-height: 26px;
	font-weight: 400;
}
.frequentquestion i {

	color: #9bbbd7;
	font-size: 20px;
	float: left;
	line-height: 0;
	padding: 13px 0 0 0;
	margin: 0;
}
.askedhrline {
	margin: 20px 0;	
	border-bottom: 1px solid #dde8f1;
	width: 1180px
}
@media (min-width:768px) {	
	.frequenthrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 54%;
		right: 47%;
		text-align: center;
	}
	.frequentheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
}
@media (min-width:1024px) {
	.frequenthrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.6%;
		right: 48%;
		text-align: center;
	}
	.frequentheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
	.frequentlyflex {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.frequent {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.frequentquestion {
		width: 41.6%;
	}

	.frequentanswer {
		width: 58.4%;
	}
}
@media (min-width:1100px) {
	.frequenthrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.6%;
		right: 48%;
		text-align: center;
	}
	.frequentheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
}
/*faq end */
/*contact start */
.contact {
	background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
	padding-bottom: 30px;
}
.contactheading {
	text-align: center;
	padding-top: 50px;
	position: relative;
}
.contactheading h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #214061;
	font-size: 28px;
	padding-bottom: 10px;
}
.contacthrline {
	border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 45%;
		right: 45%;
		text-align: center;
}
.contactheading hr {
	width: 120px;
	color: #ebedef;
	display: inline-block;
	justify-content: center;
	text-align: center;
}
.contactheading p {
	color: #5a5959;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-top: 10px;
	line-height: 18px;
	padding-bottom: 15px;
}
.contact-flex {
	width: 100%;
	height: auto;
}
.contactaddressbox {
	width: 100%;
}
.contactformbox {
	width: 100%;
	height: auto;
}
.contactboxbig {
	width: 100%;
	height: auto;
}
.contactboxbig {
	background-color: #fff;
	text-align: center;
	padding: 30px;
	box-shadow: 0px 0px 30px rgb(214 215 216 / 60%);
}
.contactbox1 {
	width: 100%;
	height: auto;
}
.contactbox {
	height: auto;
	margin-top: 20px;
}
.contactbox {
	background-color: #fff;
	text-align: center;
	padding: 30px;
	box-shadow: 0px 0px 30px rgb(214 215 216 / 60%);
}
.contactbox i {
	font-size: 32px;
	color: #fdc134;
	border: 2px dotted #fff7e5;
	border-radius: 50%;
	padding: 8px;
	text-decoration: none;
	font-weight: 400;
}
.contactboxbig i {
	font-size: 32px;
	color: #fdc134;
	border: 2px dotted #fff7e5;
	border-radius: 50%;
	padding: 8px;
	text-decoration: none;
}
.contactbox h3 {
	font-size: 20px;
	color: #666;
	font-weight: 700;
	margin: 10px 0;
}
.contactboxbig h3 {
	font-size: 20px;
	color: #666;
	font-weight: 700;
	margin: 10px 0;
}
.contactboxbig p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
	color: #444444;
	font-family: "Open Sans", sans-serif;
}
.contactbox p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
	color: #444444;
	font-family: "Open Sans", sans-serif;
}
.contactformbox {
	height: auto;
	background-color: #fff;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	box-shadow: 0 0 20px #ccc;
}
.contactformbox form {

	flex-wrap: wrap;
}
.contactformbox form .formgroup1 {
	width: 100%;
	margin-bottom: 20px;

}
.formgroup1 input {
	width: 100%;
	height: 30px;
	border: solid 1px #ccc;
	padding-left: 15px;
}
.formgroup input {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	margin-right: 30px;
	border: solid 1px #ccc;
	padding-left: 15px;
}
form .formgroup {
	width: 100%;
}
.formgroup2 {
	width: 100%;
	margin-bottom: 20px;
}
.contactformbox form input {
	height: 40px;
}
.contactformbox form textarea {
	border: solid 1px #ccc;
}
.formgroup2 input {
	width: 100%;
	height: 30px;
	margin-right: 30px;
	margin-bottom: 5px;
	border: solid 1px #ccc;
	padding-left: 15px;
}
.formgroup2 textarea {
	width: 100%;
	margin-bottom: 10px;
	height: 120px;
	padding-left: 15px;
}
.formbutton {
	height: 60px;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;

}
.formbutton button {
	background: #ffc107;
	color: #fff;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
}
.formbutton button:hover {
	background-color: #fdc134;
}
@media (min-width:768px) {
	.contacthrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 54%;
		right: 47%;
		text-align: center;
	}
	.contactheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
    .contact-flex {
		width: 100%;
		height: auto;
	}
	.contactaddressbox {
		width: 100%;
	}
	.contactformbox {
		width: 100%;
		height: auto;
	}
	.contactboxbig {
		width: 97%;
		height: auto;
		margin: 20px;
	}
	.contactbox1 {
		display: flex;
		width: 100%;
		height: auto;
	}
	.contactbox {
		width: 50%;
		height: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 20px;
	}
   .contactformbox {
		width: 97%;
		height: auto;
		background-color: #fff;
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 20px;
		box-shadow: 0 0 20px #ccc;
	}
	.contactformbox form {
		display: flex;
		flex-wrap: wrap;
	}
	.contactformbox form .formgroup1 {
		width: 100%;
		margin-bottom: 20px;

	}
	.formgroup1 input {
		width: 100%;
		height: 30px;
		border: solid 1px #ccc;
		padding-left: 15px;
	}
	.formgroup input {
		width: 100%;
		height: 30px;
		margin-right: 30px;
		border: solid 1px #ccc;
		padding-left: 15px;
	}
	form .formgroup {
		width: 100%;
	}
	.formgroup2 {
		width: 100%;
		margin-bottom: 20px;
	}
	.contactformbox form input {
		height: 40px;
	}
	.contactformbox form textarea {
		border: solid 1px #ccc;
	}
	.formgroup2 input {
		width: 100%;
		height: 30px;
		margin-right: 30px;
		margin-bottom: 10px;
		border: solid 1px #ccc;
		padding-left: 15px;
	}
	.formgroup2 textarea {
		width: 100%;
		margin-bottom: 10px;
		height: 120px;
		padding-left: 15px;
	}
	.formbutton {
		height: 60px;
		width: 100%;
		align-items: center;
		justify-content: center;
		display: flex;

	}
}
@media (min-width:1024px) {
	.contacthrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59%;
		right: 48%;
		text-align: center;
	}
	.contactheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
	.contact-flex {
		display: flex;
		width: 100%;
		height: auto;
	}
	.contactaddressbox {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
	}
	.contactformbox {
		width: 50%;
		height: auto;
	}
	.contactboxbig {
		width: 100%;
		height: auto;
		margin-right: 0px;
	}
	.contactbox1 {
		display: flex;
		width: 100%;
		height: auto;
	}
	.contactbox {
		width: 50%;
		height: auto;
		margin-left: 20px;
	}
   .contactformbox {
		height: auto;
		background-color: #fff;
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 0px;
		box-shadow: 0 0 20px #ccc;
	}
	.contactformbox form {
		display: flex;
		flex-wrap: wrap;
	}
	.contactformbox form .formgroup1 {
		width: 50%;
		margin-bottom: 20px;
	}
	.formgroup1 input {
		width: 82%;
		height: 30px;
		border: solid 1px #ccc;
		padding-left: 15px;
	}
	.formgroup input {
		width: 92%;
		height: 30px;
		margin-right: 30px;
		border: solid 1px #ccc;
		padding-left: 15px;
	}
	form .formgroup {
		width: 50%;
	}
	.formgroup2 {
		width: 100%;
		margin-bottom: 20px;
	}
	.contactformbox form input {
		height: 40px;
	}
	.formgroup2 input {
		width: 96%;
		height: 30px;
		margin-right: 30px;
		margin-bottom: 10px;
		border: solid 1px #ccc;
		padding-left: 15px;
	}
	.formgroup2 textarea {
		width: 96%;
		margin-bottom: 10px;
		height: 120px;
		padding-left: 15px;
	}
}
@media (min-width:1100px) {
	.contacthrline {
		border-bottom: 3px solid #fdbf2b;
		width: 40px;
		position: absolute;
		top: 59.2%;
		right: 48%;
		text-align: center;
	}
	.contactheading hr {
		width: 120px;
		color: #ebedef;
		display: inline-block;
		justify-content: center;
		text-align: center;
	}
}
/*contact end */
/*footer start */
.footer {
	text-align: center;
	position: relative;
	z-index: 2;
}
.footer {
	background-image: linear-gradient(rgba(26, 46, 64, 0.85),rgba(26, 46, 64, 0.85)),url(../image/footer-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
	color: #fff;
}
.footercontent {
	padding: 80px 0px 30px 0px;
	z-index: 2;
}
.footercontent h2 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	font-family: "Poppins", sans-serif;
	z-index: 2;
}
.footercontent p {
	color: #fff;
	font-style: italic;
	font-size: 16px;
	padding: 30px 0px 30px 0px;
	line-height: 20px;
	z-index: 2;
	font-family: "Open Sans", sans-serif;

}
form{
	display: flex;
}
.footerform input {
	padding: 12px 0px 12px 0px;
	width: 90%;
	border-radius: 50px;
	font-size: 15px;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	border: none;
	margin-left: 20px;
}
.footerform button {
	position: absolute;
	right: 8%;
	padding:12px 10px 12px 10px ;
	border-radius: 50px;
	font-size: 16px;
	color: #fff;
	background-color: #ffc107;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	cursor: pointer;
	border: none;
}
.footericons {
	color: #fff;
	font-size: 14px;
	padding-bottom: 15%;
}
.footericons i {
	font-size: 18px;
	display: inline-block;
	background: #284864;
	color: #fff;
	line-height: 1;
	padding: 8px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	cursor: pointer;
} 
.footercopy {
	padding-bottom: 40px;
	line-height: 20px;
} 
.footercopy h3 {

	color: #fff;
	font-size: 14px;
}
 .footercopy h4 {

	color: #fff;
	font-size: 14px;
	
}
.footercopy strong {
	font-family: bolder;
	font-size: 16px;
	font-weight: 800;
}
.footercopy span {
	color: #fdc134;
	cursor: pointer;
}
.footericons i:hover {
	background-color: #fdc134;
}
.footerform button:hover {
	background-color: #fdc134;
}
.footerform a{
	text-decoration: none;
	color: #fff;
}
 @media (min-width:768px) {
	.footerform button {
		/* position: absolute;
		top: 43.3%;
		right: 8%; */
	}
	.footericons{
	}
}
@media (min-width:1024px) {
	.footerform input {
		padding: 12px 0px 12px 0px;
		width: 40%;
		margin-left: 30%;
		border-radius: 50px;
		font-size: 15px;
		box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
		border: none;
	}
	.footerform button {
		position: absolute;
		right: 30%;
	}
	.footericons{
	}
	.footercopy {
		display: flex;
		justify-content: space-between;
	} 
	
}
